apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-deployment
  labels:
    app: fastapi-app
spec:
  replicas: 2 # 서버를 2대 띄워서 하나가 죽어도 서비스가 유지되게 합니다.
  selector:
    matchLabels:
      app: fastapi-app
  template:
    metadata:
      labels:
        app: fastapi-app
    spec:
      containers:
      - name: fastapi-container
        # 중요: 우리가 이전에 빌드해서 Push한 그 이미지 주소입니다.
        image: dragon6217/260118_fastapi-app:latest
        ports:
        - containerPort: 8000
        # 서버가 뜰 때까지 기다려주는 시간이나 자원 제한 등을 나중에 추가할 수 있습니다.